body {
    background-color: rgb(122, 122, 5);
}
.main_title {
    background-color: #379128;
    color: #aaa111;
    font-style:oblique;
    font-size: 37px;
    font-family: 'Comic Sans MS', Courier, monospace;
    

}
.project_title {
    background-color: lavender;
    color: #001001;
    font-size: 37px;
    font-family: 'Arial', 'Comic Sans MS', monospace;

}
.amogus_picture {
    width: 200px;
    animation: spinny 1s infinite linear;
}   
.annoying_error {
    color: red;
    animation: spinny 0.8s infinite linear;
    position: fixed;
    font-family: "Comic Sans MS";
    font-size: 50px;
}

.game_desc {
    font-size: 11px

}

@keyframes spinny {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
        transform: scale(0.4)
    }
    100% {
        filter: hue-rotate(360deg);

        transform: rotate(360deg);
    }
}