@font-face {
    font-family: "Archivo";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Archivo_sus";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 50;
} 

@font-face {
    font-family: "Archivo_superlight";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Archivo_thin";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Archivo_light";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Archivo_bold";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Archivo_black";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Archivo_semibold";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 500;

}
@font-face {
    font-family: "Archivo_superbold";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Archivo_lightblack";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Archivo_boldblack";
    src: url("../assets/fonts/Archivo/Variable.ttf");
    font-weight: 1000;
}
@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Nunito_title";
    src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
    font-weight: 600;
}

body {
    background-color: rgb(255, 230, 230)
}
p {
   font-family: "Nunito" 
}
.main_title {
    color: #373737;
    text-decoration: underline;
    font-size: 37px;
    font-family: 'Nunito_title';
    animation: spinny2 2s linear;

}
.project_title {
    background-color: lavender;
    color: #001001;
    font-size: 37px;
    font-family: 'Arial', 'Comic Sans MS', monospace;

}
.amogus_picture {
    width: 200px;
    animation: spinny 1s infinite linear;
}   


.annoying_error {
    color: red;
    animation: spinny 0.8s infinite linear;
    position: fixed;
    font-family: "Comic Sans MS";
    font-size: 50px;
}

.game_desc {
    font-size: 11px

}

@keyframes spinny {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
        transform: scale(0.4) rotate(180deg);
    }
    75% {
        transform: rotate(270deg) scale(0.7);
    }
    100% {
        filter: hue-rotate(360deg);

        transform: rotate(360deg);
    }
}
@keyframes spinny2{
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }

}
@keyframes spinny3{
    0% {
        filter:hue-rotate(0deg);
    }
    50% {
        filter:hue-rotate(180deg);
    }
    100% {
        filter:hue-rotate(360deg);
    }
}
.subsection {
    background-color: aquamarine;
    margin: 3vh 2vw;
    padding: 3vh 3vw;
    outline: black solid 2px;
    border-radius: 50px;
    box-shadow: black 2px 2px 100px;
}

h2 {
    color: #ffffff;
    text-shadow: black 2px 2px 5px;
}



.test_button{
    color: grey;
    background-color: antiquewhite;
    font-family: "Archivo_light";
}
.test_button:hover {
    background-color: rgb(205, 193, 178);
    box-shadow: 0 0 2px black;
    transform: scale(1.1);

}
.test_button_edu{
    color: grey;
    background-color: antiquewhite;
    font-family: "Archivo_light";
}
.test_button_edu:hover {
    background-color: rgb(205, 193, 178);
    box-shadow: 0 0 2px black;
    transform: scale(1.1);

}
.header{
    background-color:  rgb(50,250,230);
    font-family: "Archivo";
    width: 100%;
    margin: 100%;
}