.main_title {
    background-color: #379128;
    color: #aaa111;
    font-style:oblique;
    font-size: 37px;
    font-family: 'Comic Sans MS', Courier, monospace;
    text-decoration: dashed underline 90px;

}
.project_title {
    background-color: lavender;
    color: #001001;
    font-size: 37px;
    font-family: 'Arial', 'Comic Sans MS', monospace;

}